name: Docker iperf3

on:
  push:
    branches:
      - master

env:
  CONTEXT: iperf3
  FILE_PATH: iperf3
  REPO_NAME: lvillis/iperf3

jobs:
  job:
    if: "contains(github.event.head_commit.message, 'build.all') || contains(github.event.head_commit.message, 'build.iperf3')"
    env:
      TAG_NAME: latest
    name: latest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v1.4.1

      - name: Docker Login
        uses: docker/login-action@v1.10.0
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v2.5.0
        with:
          context: ${{ env.CONTEXT }}
          file: ${{ env.FILE_PATH }}/${{ env.TAG_NAME }}.Dockerfile
          push: true
          tags: ${{ env.REPO_NAME }}:${{ env.TAG_NAME }}
          cache-from: type=registry,ref=${{ env.REPO_NAME }}:${{ env.TAG_NAME }}
          cache-to: type=inline